@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.navLinksActive li a:active {
  color: red;
}

.tabsLinksActive .active {
  background-color: #f4cb37;
  color: black;
  border-radius: 5px;
}